@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #F9F9FF;
    color: #191C20;
}

.dark body {
    background-color: #121B18;
    color: #E2E2E9 !important;
}